.swiper-slide{
    flex-shrink:2;
    width: 200px;
}
.game{
    width:200px;
    min-height:250px !important;
    overflow:hidden
}
.game-img{
    object-fit:cover;
    width:100%;
    min-height:250px !important;
}
.game:hover .game-text{
    bottom: 0;
    transition: all .3s ease
}
.game-text{
    bottom:-100%;
    box-shadow:0 0 2px 0 #20232B;
    transition: all .3s ease;
}