.swiper-slide{
    flex-shrink:2;
    width: 200px;
}
.game{
    width:200px;
    height:250px;
    background-image: url("../../../assets/game.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}